# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
coverage/

# GitHub Pages deployment folder
gh-pages/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
